<div class="menu_container menu_mm">

		<!-- Menu Close Button -->
		<div class="menu_close_container">
			<div class="menu_close"></div>
		</div>

		<!-- Menu Items -->
		<div class="menu_inner menu_mm">
			<div class="menu menu_mm">
				<div class="menu_search_form_container">
					<form action="#" id="menu_search_form">
						<input type="search" class="menu_search_input menu_mm">
						<button id="menu_search_submit" class="menu_search_submit" type="submit"><img src="../../../assets/images/search_2.png" alt=""></button>
					</form>
				</div>
				<ul class="menu_list menu_mm">
					<li class="menu_item menu_mm"><a href="index.html">Home</a></li>
					<li class="menu_item menu_mm"><a href="about.html">About us</a></li>
					<li class="menu_item menu_mm"><a href="offers.html">Offers</a></li>
					<li class="menu_item menu_mm"><a href="#">News</a></li>
					<li class="menu_item menu_mm"><a href="contact.html">Contact</a></li>
				</ul>

				<!-- Menu Social -->
				
				<div class="menu_social_container menu_mm">
					<ul class="menu_social menu_mm">
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					</ul>
				</div>

				<div class="menu_copyright menu_mm">Colorlib All rights reserved</div>
			</div>

		</div>

	</div>
	
	<!-- Home -->

	<div class="home">
		<div class="home_background" style="background-image:url(/../../../assets/images/restaurant.jpg)"></div>
		
	</div>



	<div class="about">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h2>Ven Disfruta las mejores Rutas</h2>
						<br>
					</div>
				</div>
			</div>
			<div class="row about_row">
				<div class="col-lg-6 about_col order-lg-1 order-2">
					<div class="about_content">
						<p>Te invitamos a descubrir nuestra cocina de autor inspirada en la cocina peruana, mezclada con nuestra diversidad de ingredientes locales productos del valle, los andes, el río y la costa, cocinados con pasión y presentados en tu plato con mucho detalles y esmero.

							We invite you to discover our autor cuisine inspired in Peruvian gastronomy blended with our diversity of local ingredients from the valley, andes, river and coast cooked with passion presented on your plate with much attention, enjoy your expenence with us. </p>
						<div class="button about_button">
							<a routerLink="/viaje">Ver Mas</a>
							<!--<a href="travel.html"></a>Ver Mas</a>-->
						</div>
					</div>
				</div>
				<div class="col-lg-6 about_col order-lg-2 order-1">
					<div class="about_image">
						<img src="../../../assets/images/restau.jpeg" alt="https://unsplash.com/@sanfrancisco">
					</div>
				</div>
			</div>



			<div class="row about_row">
				<div class="col-lg-6 about_col order-lg-1 order-2">
					<div class="about_content">
						<strong><p>Arthur Garcia chef propietario, arequipeño, graduado de la prestigiosa escuela de Cocina Le Cordon Bleu de Lima, Restaurantes Anteriores: Lebec de Lyon, Francia ; Sabor, Londres Inglaterra y Alexander on the Creek Colorado,  USA

							Da además clases de Cocinas Regionales a turistas, Docente mas de 7 años, ambientalista, Trilingue, pescador.
							
							Su inspiración  Ingredientes y platos  Peruanos, rincones de Arequipa como un Huerto en la Campìña, los valles Costeños, el mar y los andes, define su cocina como Peruana de vanguardia. </p>
						</strong><div class="button about_button"><a href="#">Ver Mas</a></div>
					</div>
				</div>
				<div class="col-lg-6 about_col order-lg-2 order-1">
					<div class="about_image">
						<img src="../../../assets/images/resta145.jpg" alt="https://unsplash.com/@sanfrancisco">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Services -->
