<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header_container d-flex flex-row align-items-center justify-content-start">

          <!-- Logo -->
          <div class="logo_container">
            <div class="logo">
              
              <div class="logo_image"><img src="../../../assets/images/final.png" alt=""></div>
            </div>
          </div>

          <!-- Main Navigation -->
          <nav class="main_nav ml-auto">
            <ul class="main_nav_list">
              <li routerLinkActive="active" class="main_nav_item"><a routerLink="/home">Inicio</a></li>
              <li routerLinkActive="active" class="main_nav_item"><a routerLink="/destinos">Destinos</a></li>
              <li routerLinkActive="active" class="main_nav_item"><a routerLink="/alojamientos">Alojamientos</a></li>
              <li routerLinkActive="active" class="main_nav_item"><a routerLink="/restaurantes">Restaurantes</a></li>
              <li routerLinkActive="active" class="main_nav_item"><a routerLink="/contactenos">Contactenos</a></li>
              <li class="main_nav_item"><a href=""> <button onclick="Salir()" type="submit" class="search_button ml-auto ctrl_class">Salir</button></a></li>
            </ul>
          </nav>

          <!-- Search -->
          <div class="search">
            <form action="#" class="search_form">
              <input type="search" name="search_input" class="search_input ctrl_class" required="required" placeholder="Keyword">
              <button type="submit" class="search_button ml-auto ctrl_class"><img src="../../../assets/images/search.png" alt=""></button>
            </form>
          </div>

          <!-- Hamburger -->
          <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>

        </div>
      </div>
    </div>
  </div>
</header>